/* .dashBoard{
    display:flex;
    width: 100%;
} */

/* /* .board{
    /* display: flex;
    flex-direction: column;
    width: 1000px;
    height: 750px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
   border-color: gray; */
   /* display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: black;
    justify-content: space-between;
    width: 1500px;
   height: 900px;
   margin: 150px;
   margin-top: 30px;
   
   position: absolute;
    */

/* }  */ */
/* .appBar{
    display: flex;
    flex-direction: column;
    background-color: brown;
/* height: 50x;
    border-width: 80px; */
/* } */
/* #bookimage{
    display: flex;
    justify-items: flex-start;
    height: 50px;
}

#logo-search{
    padding-left: 100px;
}

#logo{
    display: flex;
    position: absolute;
    color: grey;
    height:38px;
    padding-left: 10px;
}

#search{
    display : flex;
    padding-left: 30px;
    height: 30px;
    width: 500px;
    font-size: 15px;
}
.cart{
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-left: 255px;
    align-items: center;
    justify-content: center;
}


.cartsymbol{
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: center;
    
}

/* #cardCount{
    position:absolute;
    background-color: aliceblue;
    font-size: medium;
} */
/* .circle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  font-size: 15px;
  margin-right: 200px;
  margin-bottom: 20px;
  color: brown;
  
} */ */ */

.board{
    /* display: flex;
    flex-direction: column;
    width: 1000px;
    height: 750px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
   border-color: gray; */
   display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: black;
    justify-content: space-between;
    width: 1500px;
   height: 900px;
   margin: 150px;
   margin-top: 30px;
   
   position: absolute;
   border-style: solid;
   border-width: 1px;
   border-color: gainsboro;

}

.bookcard{

    width: 950px;
    margin: 20px;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    height: 00px;
    margin-bottom: 350px;
    margin-left: 210px;
    display: grid;
    grid-template-columns: 180px 180px 180px ;
    grid-template-rows: 180px;
    gap: 150px;
    padding: 10px;
    align-content: space-around;
    
    
}
/* .image{
    width: 200px;
    height: 150px;
    background-color: darkgrey;
} */
.BookDiv{
    display: flex;
flex-direction: column;
/* align-items: center; */
/* justify-content: center; */
/* justify-content: space-between; */
    width: 300px;
    height: 370px;
}
.buttonDiv{
    /* display: flex;
    flex-direction:row; */
    /* justify-content: space-between; */
    /* padding: 5px;
    margin-bottom:20px; */
    /* align-items: center; */
    /* align-content: space-between; */
    /* margin-left: 10px;
    margin-right: 10px;
     */
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     
     /* width: 90%; */
     margin: 10px 9px;
}
.button{
    /* display: flex;
    flex-direction: row; */
    /* justify-content: space-between; */
    /* margin-left: 10px;
    padding-right: 20px;
    margin-right: 30px; */
    width: 48%;
    border-radius: 0px;
    height: 28px;
    font-size: x-small;
}
.addToBagButton{
    /* display: flex;
    flex-direction: row; */
    /* justify-content: space-between; */
    /* margin-left: 10px;
    padding-right: 20px;
    margin-right: 30px; */
    /* width: 74%;
    border-radius: 0px;
    height: 28px;
    font-size: x-small; */
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookName{
    font-size: 17px;
    margin-left: 20px;
    margin-top: 20px;
    /* text-transform: capitalize; */
    text-transform: uppercase;
}
/* .bookName{
    margin: 9px 0px 1px 5px;
    padding: 20px;
    margin-left: 10px;
    font-style: normal;
    text-transform: capitalize;
    text-transform: uppercase;
  } */
  .authorname{
    margin-left: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    color: darkgray;
  }
  .bookDescription{
    margin: 2px 0px 1px 5px;
    padding: 2px;
    margin-left: 5px;
  }
  .price{
    margin-left: 20px;
    
    
  }
  .quantity{
    margin: 2px 0px 1px 5px;
    padding: 2px;
    margin-left: 5px;
  }

  .imageDiv{
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 250px;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    background-color: lightgray;
  }
  .image{
    height: 180px;
    width: 150px;
    background-color:grey;
  }
  .bookText{
    font-size: 20px;
  }